body{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v462-n-130-textureidea_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=9465282a2b0a375f4f5b120d7bbad882");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
    padding-left: 40px;
    font-family: "Arial";
}
.titulo{
    width: 1000px;
    justify-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    margin-top: 10px;
}
.titulos{
    margin: 0px;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 40px white;
}
h3{
    text-align: center;
}
.desPer{
    width: 550px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    margin-bottom: 40px;
    color: black;
    box-shadow: 0px 0px 40px white;
}
.expLa{
    width: 550px;
    margin-left: 100px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 40px white;
    height: 200px;
}

.edu{
    margin-left: 50px;
    margin-right: 30px;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 40px white;
}
.skills{
    margin-top: 30px;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 40px white;
    margin-right: 50px;
}
.foto{
    width: 200px;
    margin-left: 180px;
    margin-right: 100px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 40px white;
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
.hobbies{
    margin-top: 30px;
    width: 200px;
    height: 150px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 40px white;
    margin-right: 30px;
}
.por{
    width: 550px;
    margin-left: 100px;
    background-color: lightgray;
    border: 5px solid white;
    border-radius: 20px;
    color: black;
    box-shadow: 0px 0px 40px white;
    height: 200px;
    margin-top: 30px;
}
img{
    width: 130px;
    height: 130px;
    margin-left: 30px;
    border-radius: 20px;
}

p{
    padding: 20px;
}